.app {
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.grid{
    height: 100%;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list{
    display:flex;
    list-style: none;
    padding-left: 0px;
    margin: 6px 0 0 0;
    border: none;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 20px;
}

.header__navbar-item-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255,0.5);
    cursor: pointer;
}

.header__navbar-item-bold{
    font-weight: 400;
}

.header__navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-user{
    display: flex;
    justify-content:center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header-navbar-user-img{
    width:22px;
    height:22px;
    border-radius:50%;
    border: 1px solid rgba(0,0,0,0.2);
}

.header-navbar-user-name{
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight:400;
}

.header__navbar-user-menu{
    width: 150px;
    position: absolute;
    padding: 8px 0px;
    top: 130%;
    right: -5px;
    background-color:var(--white-color);
    z-index: 1;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::after{
    content: "";
    border-width: 9px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -17px;
    right: 20px;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 10px 50px;
    border-style: solid;
    border-color: rgb(0,0,0,0);
    position: absolute;
    top: -17px;
    right: 0px;
}


.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    padding: 8px 18px;
    z-index: 1;
}

.header__navbar-user-item a:hover{
    background-color: #f0eeee;
}

.header__navbar-user-item-separate{
    border-top: 2px solid rgba(207, 205, 205,0.7);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left:3px
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title-no-pointer{
    cursor: text;
    color: var(--white-color);
}


/* Header QR code */

.header__qr{
    width: 186px;
    background-color:var(--white-color);
    position: absolute;
    top: 125%;
    left: 0;
    padding: 10px 10px;    
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

/* Khi top = 125%(ở trên) thì sẽ có 1 khoảng cách ra 
giữa chữ và phần hover hiện ra nên khi kéo chuột từ 
phần chữ qua phần hover thì sẽ phải đi qua 1 khoảng k 
nên hover sẽ biến mất. Suy ra tạo 1 cái cầu nối giữa chúng bằng cách tạo lớp giả*/
.header__qr::before{
    position: absolute;
    top: -6%;
    left: 0;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-dowload-img{
    height: 16px;
}


/* Thông báo  Modal */


.header__notify{
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top; /*định tâm cho animation mặc định là ở giữa tâm nơi bắt đầu animation*/
    animation: headernotifygrowth ease-in 0.23s;
    will-change: opacity,transform; /*Tối ưu chuyển động*/
    display: none;
    z-index: 1;
}


.header__notify-before::before{
    content: "";
    border-width: 18px 25px;
    border-style:solid ;
    border-color: transparent  transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}


.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}


.header__notify::after{
    position: absolute;
    top: -6%;
    right: -2%;
    width: 23%;
    height: 20px;
    content: "";
    display: block;
}

@keyframes headernotifygrowth{
    from{
        opacity: 0;
        transform:scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 15px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    cursor: default;
    user-select: none;/*không cho copy*/
}

.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item-viewed{
    background-color: rgba(238,75,43,0.1);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding:12px;
    text-decoration: none;
    
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.5rem;
}
.header__notify-desc{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    margin-top: 5px;
    line-height: 1.3rem;
}

.header__notify-footer{
    display: flex;

}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);
    width: 100%;
    padding: 10px 30px;
    font-weight: 500;
    text-align: center;
}


/* Authen modal -form dang ky, dang nhap*/

.auth-form{
     width: 500px;
     background-color: var(--white-color);
     border-radius: 4px;
     overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
   
}

.auth-form__header{
    display: flex;
    align-items: center;/*kéo cho 2 cái item nằm ngang nhau */
    justify-content: space-between;
    padding: 10px 0 8px 8px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 10px;
    font-size: 1.4rem;
    border: 1px solid var(--border--color);
    border-radius: 2px;
    outline: none;/*bỏ đi cái border màu đen khi bấm vào*/
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 16px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.4rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 20px;
}

.auth-form__socials--google{
    color: #666;

}


/* Login */

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid #eaeaee;
    height: 20px;
    margin: 1px 16px 0;
}

.auth-form__help-fogot{
    color: var(--primary-color);
}

/* HEader with search */

.header-width-search {
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}


.header__logo{
    width: 200px;
}

.header__logo-link {
    color:transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Bỏ color nháy khi nhấn nút*/
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    font-size: 2.1em;
    color: var(--white-color);
    cursor: pointer;
}


.header__cart-list{
    position: absolute;
    top: calc(100% + 4px);
    right: -7px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    display: none;
    z-index: 1;
}


.header__cart-list::after{
    content: "";
    position: absolute;
    top: -26px;
    right: 3px;
    border-width: 18px 25px;
    border-style: solid;
    border-color: #333333;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}



/* No cart */
.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-mess{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart--no-cart-img{
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-mess{
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}


.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    color: var(--primary-color);
    background-color: var(--white-color);
    line-height: 1.4rem;
    border-radius: 10px ;
    border: 2px solid #EE4D2D;
    top: -3px;
    right: -3px;
}




/* Have cart */
.header__cart-heading{
    text-align:left;
    margin: 12px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left:0px;
    list-style: none;
    max-height:56vh; /*view post height theo chiều cao của màn hinhf*/
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color:#eeeeee;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1.5px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 12px 0;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0px 3px;
    color: #757575;
}

.header__cart-item-quantity{
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-body{
   display:flex;
   justify-content:space-between;
}

.header__cart-item-description{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 400;
}

.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
      /* top right bottom left */
}

.header__cart-view-cart:hover{
  opacity: 0.9;
}

/*Search  */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 14px;
    border-radius: 2px;
}

.header__search-input:focus~.header__search-history{
    display: block;
}

.header__search-select{
    border-left: 1px solid #d6cdcd;
    padding: 5px 0 5px 16px;
    position: relative;
    cursor: pointer;

}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 13px 0 10px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.header__search-btn:hover{
    
    background-color:#f56d51 ;
}

.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);

}

.header__search-option{
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    width: 130px;
    box-shadow: 0 1px 2px rgb(219, 218, 218);
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.15s;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    display: block;
    position: absolute;
    top: -16%;
    right: 0;
    width: 95%;
    height: 10px; 
}

.header__search-option-item{
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 8px;
    padding-left: 16px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}

.header__search-option-item-action i {
    display: inline-block;
}



/* Search Histoy */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;
}

.header__search-history-list-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-list-item:last-child{
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
}

.header__search-history-list-item:hover{
    background-color: #fafafa;
}

.header__search-history-list-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */

.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    background-color: var(--white-color);
    height: var(--header-sort-bar-height);
    list-style: none;
    z-index: 1;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5e5;
    border-bottom: 1px solid #e5e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}


.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}



/* ---------------App container------------------ */

.app__container {
    background-color: #f5f5f5;
}

.app__content{
   padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    margin: 0;
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
}

.category-list{
    margin-top: 0;
    padding:0 0 6px 0;
    list-style: none;
}

.category-item{
    padding-top: 6px;
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before{
    content: "";
    bottom: 0;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1.5px solid #E1E1E1;
}


.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
    right: 0;
}

.category-item__link:hover{
    color: var(--primary-color);
}

/* Home mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding: 0;
    max-height:100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display:none;
}

.mobile-category__item {
    flex-shrink: 0; /*=0 để tắt tính năng con tự động co khi chiều dài vượt quá cha*/
    margin-right:10px ;
}

.mobile-category__item:nth-of-type(1n) .mobile-category__link{ 
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(2n) .mobile-category__link{ 
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link{ /*cứ thằng con 3 thì css VD: 3,6,9,12... tăng lên 3*/
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2.2rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    text-align: center;
    width: 110px;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1px 3px;

}


/* Home  sort + filter*/

.home-filter{
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    align-items: center;
     margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.3rem;
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    width: 72px;
    height:36px;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #555;
    font-size: 1.4rem;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid rgb(236, 234, 234);
}

.home-filter__page-btn--disabled{
    background-color:#f9f9f9;
    cursor: default;
    color: #ccc;
}

/* Product  item*/
.grid__row-wrapper{
    margin-bottom: 10px;
}


.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    background-color:var(--white-color);
    margin-top: 10px;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.1);
    transition:transform linear 0.1;/*Nếu thuộc tính transform được xuất hiện thì sẽ thực hiện transition */
    will-change: transform;
    border-radius: 2px;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0,0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.home-product-item__name{
    height: 3.6rem;
    font-size: 1.4rem ;
    font-weight: 400;
    color: var(--text-color);
    line-height:1.8rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block; 
    /* Tạo dấu ... cho dòng thứ 2 khi text vượt quá 2 dòng */
    display: -webkit-box; 
    -webkit-box-orient: vertical; /*Xét chiều của khối dòng từ trên xuống */
    -webkit-line-clamp: 2; /*Xác định dòng  giới hạn nội dung*/

}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 3px;
}

.home-product-item__price-new{
    font-size: 1.6rem;
    color: var(--primary-color);

}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.home-product-item__like{
    font-size: 1.4rem;
}

.home-product-item__like-liked{
    color: #f63d30;
}

.home-product-item__like-no-like{
    display: none;
}

.home-product-item__rating{
    font-size: 0.7rem;
    color: #d5d5d5;
    margin:-0px 0 0 auto;
}

.home-product-item__star--gold{
    color: var(--gold-color);
}

.home-product-item__sold{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin:0 10px;
    color: #595959;
    font-size: 1.1rem;
    font-weight: 300;
}


.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.6rem;
   
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top:4px solid currentColor;
    border-left:4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin-right: 2px;
}

.home-product-item__sale-off{
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--primary-color);
    background-color: rgba(255,216,64,0.94);
    width: 40px;
    height: 36px;
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 20px 4px;
    border-style:solid;
    border-color:red rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}

.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 2px;
    display: block;
}

.home-product-item__sale-off-lable{
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
}

/* Pagination */

.home_pagination{
    margin: 48px 0 32px 0;
    padding-left: 0;
}



/* Footer */

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-iten__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    
}

.footer-iten__link:hover {
    color: var(--primary-color);
}

.footer-iten__icon{
    font-size: 1.6rem;
    margin-top: -1px;
    padding-right: 6px;
}


.footer__dowload {
    display: flex;
}


.footer__dowload-qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border--color);
}

.footer__dowload-apps{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__dowload-apps-link{
    text-decoration: none;  
    color: transparent;
}

.footer__dowload-apps-img{
    height:25px;
}

.footer__bottom{
    margin-top:30px;
    padding: 8px 0;
    background-color: #F5F5F5;
}

.foooter__text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373; 
}